apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
spec:
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      containers:
        - name: nginx
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: 80
          volumeMounts:
            - name: config-volume
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
            - name: log-volume
              mountPath: /var/log/nginx 
      volumes:
        - name: config-volume
          configMap:
            name: {{ .Chart.Name }}-config
        - name: log-volume
          hostPath:
            path: {{ .Values.logging.hostPath }}
            type: DirectoryOrCreate