spring:
  application:
    name: backend

server:
  port: 8765
  tomcat:
    threads:
      max: 200
    max-connections: 10000
    accept-count: 100

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true